{% extends "parent.njk" %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script>
        $(function(){
        var $hozzavalok=$('#hozzavalok');
        function ujSor(hozzavalo){
            var html=`<div class="form-group smart-ingredient">
                    <div class="col-md-1">
                        <input class="form-control smart-ingredient-amount" value="${hozzavalo.mennyiseg}" type="text">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control smart-ingredient-name" value="${hozzavalo.hozzavalo}" type="text">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-block">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>`;
            var sor=$(html)
            sor.on('click','.btn-danger', function (){
                $(this).closest('.smart-ingredient').remove();
            });
            $hozzavalok.append(sor);
        }
        $('#add').on('click', function(){
            ujSor({
                mennyiseg:'1',
                hozzavalo:''
            });
        });
        var $description=$('#description');
        $('#form').on('submit', function(){
            var str='';
            $('.smart-ingredient').each(function(){
            var mennyiseg=$(this).find('.smart-ingredient-amount').val();
            var hozzavalo=$(this).find('.smart-ingredient-name').val();
            str+= mennyiseg + ' ' + hozzavalo+'; \n';
            });  
            str+='\n';
            $description.val(str + $description.val());
            console.log($description.val());
            console.log(reszek);
        });
        var description = $description.val();
        var reszek = description.split('\n\n');
        var hozzavalok;
        if(reszek.length>1){
            hozzavalok=reszek[0];
            $description.val(reszek.slice(1).join('\n\n'));
        }else{
            hozzavalok='';
        }
        var hozzavaloSorok = hozzavalok.split('\n');
        for(var i=0;i<hozzavaloSorok.length;i++){
            var sor = hozzavaloSorok[i];
            if(sor === ''){
                continue;
            }
            var reszek=sor.split(' ');
            ujSor({
                mennyiseg:reszek[0],
                hozzavalo:reszek.slice(1).join(' ')
            });
        }
        });
        </script>
{% endblock %}

{% block content %}
<div class="row">
    {% for error in old('errors') %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Hiba!</strong> {{ error.message }}
    </div>
    {% endfor %}
    <form class="form-horizontal" method="POST" id="form">
        {{ csrfField }}
        <fieldset>
            <legend>Uj recept</legend>
            <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Recept neve</label>
            <div class="col-lg-10">
                <input name="name" value="{{ old('name') }}" type="text" class="form-control">
            </div>
            </div>
            <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Recept hozzavaloi</label>
            <div class="col-lg-10">
                <div id="hozzavalok"></div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success btn-block" id="add">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            </div>
            <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Recept leírása</label>
            <div class="col-lg-10">
                <textarea name="description" id="description" class="form-control" style="width: 30%" rows="7">{{ old('description') }}</textarea>
                <span class="help-block">Ebbe a dobozba írja be a recept hozzávalóit és elkészítésének leírását.</span>
            </div>
            </div>
            <div class="form-group">
            <label for="englishName" class="col-lg-2 control-label">Recept angol neve</label>
            <div class="col-lg-10">
                <input name="englishName" value="{{ old('englishName') }}" type="text" class="form-control" placeholder="Hagyja üresen, ha nem kívánja lefordítani angolra a receptet.">
            </div>
            </div>
            <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Recept angol leírása</label>
            <div class="col-lg-10">
                <textarea name="englishDescription" class="form-control" style="width: 30%" rows="7" placeholder="Hagyja üresen, ha nem kívánja lefordítani angolra a receptet.">{{ old('englishDescription') }}</textarea>
                <span class="help-block">Ebbe a dobozba írja be a recept hozzávalóit és elkészítésének angol leírását.</span>
            </div>
            </div>
            <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Kategória</label>
            <div class="col-lg-10" style="width: 20%;">
                <select name="category_id" class="form-control">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
                </select>
            </div>
            </div>
            <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="/all"><span class="btn btn-default">Mégsem</span></a>
                <button type="submit" class="btn btn-primary">Recept beküldése</button>
            </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}