{% extends "parent.njk" %}

{% block content %}
<div class="row">
{% for error in old('errors') %}
    <div class="alert alert-dismissible alert-danger">
        <strong>Hiba:</strong> {{ error.message }}
    </div>
{% endfor %}
</div>
{% endblock %}