{% extends "parent.njk" %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">Kedvenceim</div>
    <div class="list-group">
        {% if(favorites.length)==0 %}
            <center><a class="list-group-item">Még nincs kedvenc recepted.</a></center>
        {% else %}
            {% for favorite in favorites %}
              <a href="/recipe/{{ favorite.recipe.id }}" class="list-group-item">{{ favorite.recipe.name }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}