{% extends "parent.njk" %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">Keresés eredménye</div>
    {% for recipe in recipes.data %}
      <div class="list-group">
        <a href="/recipe/{{ recipe.id }}" class="list-group-item">{{ recipe.name }}<span class="label label-info pull-right">{{ recipe.category.name }}</span></a>
      </div>
    {% endfor %}
</div>

<center>
  <ul class="pagination pagination-sm">
    {% if(recipes.currentPage>1) %}
      <li><a href="?page={{ recipes.currentPage - 1 }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% for i in range(1, recipes.lastPage + 1) %}
      {% if (i==recipes.currentPage) %}
      <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor  %}

    {% if(recipes.currentPage==recipes.lastPage) %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% else %}
      <li><a href="?page={{ recipes.currentPage + 1 }}">&raquo;</a></li>
    {% endif %}
  </ul>
</center>

{% endblock %}